.cover-image img:last-child {
  display: none;
}
.cover-image:hover img:last-child {
  display: inline-block;
}
.cover-image:hover img:first-child {
  display: none;
}

.latest-post-container {
  padding: 0.5em;
  text-align: center;
  background-color: #fffddb;
}
.social-icons-container {
  margin-top: 2em;
  text-align: center;
}

.social-icon {
  height: 2em !important;
  width: 2em !important;
  margin: 0 0.2em;
}

.social-icon:hover {
  filter: opacity(50%);
}
